.fv-selected-view {
	font-weight: 105%;
	color: lightgreen;
}

.fv-selected-scenario {
	font-weight: 105%;
	color: lightgreen;
}

.fv-selected-row {
	background-color: lightgreen;
}

.fv-selected-table {
	background-color: lightgreen;
}

#fv-scenarios {

    font-family: 'Lucida Grande', 'Bitstream Vera Sans', 'trebuchet ms', verdana, tahoma, arial, sans-serif;
    font-size: 1em;

    width:210px;

    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(66,174,194);  
    z-index: 2000;
    
    border-radius: 10px;
    
    margin: 3px;
    padding: 5px;
    
    color: white;   
    
}

.fv-show-all {
	display:none;
	font-size: 60%;
	cursor: pointer;
}

.fv-show-all:hover{
	#font-weight: bold;
	font-size: 70%;
	color:rgb(190,255,255);
}

#fv-scenarios-list { 
    max-height: 300px;
    overflow: auto;    
}

#fv-scenarios-list::-webkit-scrollbar {
    width: 9px;
}
#fv-scenarios-list::-webkit-scrollbar-track-piece {

    margin: 5px;    
    background-color: rgb(66,174,194);  
    border-radius: 8px;
}

#fv-scenarios-list::-webkit-scrollbar-thumb {

    background-color: rgb(150,174,194);    
    border-radius: 8px;
}
 

.fv-scenario {

    overflow: hidden;    
    margin: 0 2px;
    padding: 5px;    
    border-radius: 4px;
    
    cursor: pointer;
    border-bottom: 1px solid rgb(150,174,194);
    
}

.fv-scenario:hover {
    background-color: rgb(150,174,194);    
}

.fv-view {
    margin: 0 7px;
    cursor: pointer;
}

.fv-scenario-def{

    position: fixed;
    background-color: rgb(100,100,100);
    color: black;
    
    margin-right: 3px;
    margin-top: 10px;
    
    padding: 3px;
    
    border-radius: 5px;        
    right: 0px;
    max-width: 100%;
}

#fv-header {
    border-bottom: 1px solid white;
    margin-bottom: 3px;
}
